# Starter pipeline
- task: DotNetCoreCLI@2
  inputs:
    azureSubscription: 'Azure subscription 1(4938a37b-16b8-40cf-aa6a-26d7f7042671)'
    command: 'build'
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
